@font-face {
    font-family: 'Rosela';
    src: url('../font/rosela_4/Rosela.ttf') format('truetype');
  }

  @font-face {
    font-family: '1';
    src: url('../font/moora_light/MOORA\ LIGHT\ REGULER.otf') format('truetype');
  }
  @font-face {
    font-family: '2';
    src: url('../font/rosela_4/lovely_balloon/Lovely\ Balloon.ttf') format('truetype');
  }

  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rosela', sans-serif!important;
	font-weight: bolder!important;
	background-image: url('../fondo.webp');
	background-size: cover;
}

.contenedor {
	max-width: 50%;
	width: 400px;
	margin: 80px auto;
}

.contenedorQR {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}

.text-center {
	text-align: center;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.list {
	text-align: left;
	max-width: 570px; /* ajusta el ancho máximo según sea necesario */
	margin: 0 auto; /* centra horizontalmente */
}
.list li {
	list-style-type: none; /* elimina los puntos */
	text-align: left; /* alinea el texto a la izquierda */
	padding-left: 20px; /* añade un poco de espacio entre los puntos y el texto */
	position: relative;
}
.list li::before {
	content: "\2022"; /* agrega un punto como bullet */
	position: absolute;
	left: 0;
}

ul{
	font-family: '1', sans-serif!important;
	font-size: 20px;
}
